<main>
    <header class="header">
        <i>Header</i>
    </header>

    <div class="xe-style-flex-container">
        <section class="xe-style-content">
            <div class="xe-style-search-container">

                <div class="xe-style-fields-container">
                    <span class="xe-style-input-field-container">
                        <mat-form-field>
                            <input matInput placeholder="{{ 'search' | translate }}" [matAutocomplete]="auto"
                                #searchInput>
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngIf="isLoading" class="is-loading">
                                    {{ 'loading' | translate}}
                                </mat-option>
                                <ng-container *ngIf="!isLoading">
                                    <mat-option *ngFor="let result of searchResults" [value]="result.name"
                                        (onSelectionChange)="onLocationSelect($event)">
                                        <span>{{result.name}}</span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </span>

                    <span class="xe-style-button-container">
                        <button mat-icon-button aria-label="Open search in Google" [disabled]="!googleSearchActive"
                            (click)="onButtonClick()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </span>
                </div>

                <div *ngIf="errorMsg" class="xe-style-alert-container">
                    <span class="xe-style-alert xe-style-alert-danger">
                        {{ errorMsg | translate }}
                    </span>
                </div>

            </div>
        </section>
        <aside class="xe-style-sidebar">
            <div class="xe-style-sidebar-content">
                <i>Sidebar</i>
            </div>
        </aside>
    </div>

    <footer class="footer">
        <i>Footer</i>
    </footer>
</main>