/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

main,
header,
section,
aside,
footer {
  background: #f1f1f1;
  color: #282828;
  text-align: center;
}

main {
    padding: 10px;

    header {
        min-height: 100px;
        border-bottom: 1px solid;
    }

    footer {
        min-height: 100px;
        border-top: 1px solid;
    }

  .xe-style-content {
    flex: 1;
    min-height: 100px;
  }

  .xe-style-sidebar {
    flex: 0 1 20%;
    padding: 20px;

    > .xe-style-sidebar-content {
        border: 1px solid;
        min-height: 200px;
    }
  }

  .xe-style-search-container {
    .xe-style-fields-container {
      display: flex;
      padding: 10px;
    }

    .xe-style-input-field-container {
      flex: 0 0 92%;

      & > * {
        width: 100%;
      }
    }

    .xe-style-button-container > button {
      position: relative;
      top: 13px;
    }

    .xe-style-alert-container {
        padding: 10px;
    }

    .xe-style-alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .xe-style-alert-danger {
      color: #a94442;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
  }
}

@media screen and (min-width: 640px) {
  .xe-style-flex-container {
    display: flex;
    flex-direction: row-reverse;

    .xe-style-content {
      min-height: 400px;
    }
  }
}
